<div>
    <h1>Login</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />

        <label>Contraseña</label>
        <input name="password">
        <br />

        <input type="submit">
    </form>
    <p>Si no tenes una cuenta: <a href="/users/register"> Ingrese aqui</a></p>
</div> 
    <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
</div>
<script src="/js/login.js"></script>

<script src="/js/login.js"></script>