<div>
    <h1 style="padding-left: 200px; padding-top: 100px; ">Bienvenido,</h1>
    <h2 style="text-align:center ;" >{{user.name}}</h2>
    <h2 style="text-align:center ;">{{user.email}}</h2>
    <h2 style="text-align:center ;">Edad: {{user.age}} años</h2>
</div>
<h1 style="text-align:center;">Accedé a nuestros productos </h1>
<h1 style="text-align:center;"> <a href="/products"> Ingrese aqui</a></h1>