<h1 style="margin: 40px; ; color:rgb(41, 30, 206) ;">Registrarse como Usuario</h1>
<hr>
<form id="formRegistro">
<div class="container">

    
        <table class="table table-bordered table-striped" style="margin-top: 150px ;">
            <tr>
                <th colspan="2">Datos Requeridos</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td><input type="text" class="form form-control" name="first_name" autocomplete="off"></td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td><input type="text" class="form form-control" name="last_name" autocomplete="off"></td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><input type="text" class="form form-control" name="email" autocomplete="off"></td>
            </tr>
            <tr>
                <td>Edad</td>
                <td><input type="number" class="form form-control" name="age" autocomplete="off"></td>
            </tr>
            <tr>
                <td>Contrase침a</td>
                <td><input type="password" class="form form-control" name="password" autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Guardar" class="btn btn-primary"></td>
            </tr>
            <tr>
                <td colspan="2"><p>Si ya est치s registrado,<a href="/users/login"> inici치 sesi칩n</a></p></td>
            </tr>
        </table>
        </form>
    

</div>
<script src="/js/register.js"></script>