<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lo Sentimos</h2>
    <h3>No tienes acceso a esta opción por {{rol}} <a href="/products" class="btn btn-danger">Volver</a></h3>
    <hr>
</body>
</html>