<h1>Perfil del Usuario</h1>
<h2>Aquí puedes ver los datos de tu cuenta</h2>
<hr>
<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2">Datos del Usuario</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><b>{{user.name}}</b></td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td><b>{{user.email}}</b></td>
        </tr>
        <tr>
            <td>Edad</td>
            <td><b>{{user.age}}</b></td>
        </tr>
        <tr>
            <td>Rol</td>
            <td><b>{{user.rol}}</b></td>
        </tr>
    </table>
</div>